.calculator{
    border:3px solid black;
    height:500px;
    padding:20px;
    width:70%;
    border-radius:20px;
    margin-top: 50px;
  }
  
  input[type=button]{
    height:70%;
    width:70%;
    background-color:rgb(72, 70, 70);
    border-radius: 8px;
    font-weight: bold;
    color: white;
  }
  .display-box{
    border: 2px solid black;
    border-radius:10px;
    height: 40%;
    width: 90%;
    font-weight: bold;
    font-size: 25px;
  }
  
  #btn{
    background-color:red;
    height: 40%;
  }
  
  #btns{
    background-color:yellow;
    color:black;
  }
   
  input:active[type=button]{
      background: #e5e5e5;
  }
  
  table{
    background-color:rgb(184, 226, 243);
  }